
/src/_ReSharper.Web
/src/_ReSharper.chrisglass.me
/src/_ReSharper.chrisglass.me
/src/_ReSharper.chrisglass.me
/src/Console/bin
/src/Console/Properties
/src/Console/obj
/src/UnitTests/bin/Debug/CQRS.dll
/src/UnitTests/bin/Debug/CQRS.pdb
/src/UnitTests/bin/Debug/Moq.dll
/src/UnitTests/bin/Debug/Moq.pdb
/src/UnitTests/bin/Debug/Moq.xml
/src/UnitTests/bin/Debug/Ninject.dll
/src/UnitTests/bin/Debug/Ninject.pdb
/src/UnitTests/bin/Debug/Ninject.xml
/src/UnitTests/bin/Debug/UnitTests.dll
/src/UnitTests/bin/Debug/UnitTests.pdb
/src/UnitTests/bin/Debug/nunit.framework.dll
/src/UnitTests/bin/Debug/nunit.framework.xml
/src/UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/UnitTests/obj/Debug/ResolveAssemblyReference.cache
/src/UnitTests/obj/Debug/UnitTests.csproj.FileListAbsolute.txt
/src/UnitTests/obj/Debug/UnitTests.dll
/src/UnitTests/obj/Debug/UnitTests.pdb
/src/chrisglass.me.5.0.ReSharper.user
/src/_ReSharper.cqrs
/src/CQRS/bin
/src/CQRS/obj
/build
/src/CQRS/obj
/src/CQRS/bin
/src/_ReSharper.cqrs
/src/UnitTests/bin
/src/UnitTests/obj
/build
/release
/src/_ReSharper.cqrs/BuildScriptCache/5/6e2a9a30.dat
/src/_ReSharper.cqrs
/src/_ReSharper.cqrs
/src/CQRS.EventStore.Mongodb/bin
/src/CQRS.EventStore.Mongodb/obj
/src/TestConsole/obj
/src/TestConsole/bin
/TestResult.xml